<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title_manual %><br />
    <%= f.text_area :title_manual %>
  </div>
  <div class="field">
    <%= f.label :title_scraped %><br />
    <%= f.text_area :title_scraped %>
  </div>
  <div class="field">
    <%= f.label :raw_url %><br />
    <%= f.text_field :raw_url %>
  </div>
  <div class="field">
    <%= f.label :clean_url %><br />
    <%= f.text_field :clean_url %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :keywords_manual %><br />
    <%= f.text_area :keywords_manual %>
  </div>
  <div class="field">
    <%= f.label :keywords_scraped %><br />
    <%= f.text_area :keywords_scraped %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
