<div id='bottom'>
  <div id='results' class='row-fluid'>
    <% if params.include?('search') && params[:search] != '' %>
      <%= "Results: #{@resources.length}" %>
    <% end %>
  </div>

  <%- @resources.each do |resource| %>
    <div class='resource_boxes span3 background-gray2 border margin4 height150 radius4 overflowhidden paddingsides10 paddingtop8'>
      <div class='clickable font14 resource_title'>
        <%= link_to "#{truncate(resource.title_for_view, :length => 60)}", resource, :class => 'resource_link text_center', :target => '_blank' %>
        <br />
        <div class='font12 resource_description'><%= truncate(resource.description_for_view, :length => resource[:length_of_description_for_view]) %>
        </div>
      </div>
      <div class='resource_provider'>
        <% if resource.provider %>
          By: <%= truncate(resource.provider, :length => 40) %>
        <% end %>
      </div>
      <div class='row-fluid bottom_boxes marginsides12 align_bottom'>
        <div class='span3 text_center marginsides18'>
          Reviews<br /><%= resource.reviews.length %>
        </div>
        <div class='span3 text_center marginsides18'>Score<br />
          <% if resource.reviews.length > 0 %>
            <%= resource.reviews.collect(&:score).sum.to_f / resource.reviews.length %>
          <% else %>
            NA
          <% end %>
        </div>
        <div class='span3 text_center marginsides18 margintop12'>
          <%= link_to resource.raw_url, :target => '_blank', :class => 'linktoexternalresource' do %>
            <i class="icon-share"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


  <%#
            <div class='lesson_plans_icon'>
              <%= link_to_function "<span></span>".html_safe, "add_lesson_to_log(this,
                \"#{escape_javascript(@user_id.to_s)}\",
                \"#{escape_javascript(lesson_plan.id.to_s)}\")", :class => 'plus' %[get rid of this space if I put this back]>
            </div>
  %>


<%#
  <div id="knowledges">

    <h1 class='knowledges_header orange_header'>Sources</h1>

    <%- @knowledges.each do |knowledge| %[get rid of this space if I put this back]>  
      <div class='knowledges_row'>
        <%= link_to truncate(knowledge.title, :length => 46), knowledge, :class => 'knowledges_link' %[get rid of this space if I put this back]>

<%#
        <div class='knowledges_icons'>
          <%= link_to_function "<span></span>".html_safe, "add_knowledge_to_log(this,
          \"#{escape_javascript(@user_id.to_s)}\",
          \"#{escape_javascript(knowledge.id.to_s)}\")", :class => 'plus' %[get rid of this space if I put this back]>
          <%= link_to "<span></span>".html_safe, knowledge.url, :class => 'arrow', :target => '_blank' %[get rid of this space if I put this back]>
        </div>
%[get rid of this space if I put this back]>
      </div>
    <% end %[get rid of this space if I put this back]>

  </div>
%>