<p id="notice"><%= notice %></p>

<p>
  <b>Title from user:</b>
  <%= @resource.title_from_user %>
</p>

<p>
  <b>Title from source:</b>
  <%= @resource.title_from_source %>
</p>

<p>
  <b>Raw url:</b>
  <%= @resource.raw_url %>
</p>

<p>
  <b>Description from user:</b>
  <%= @resource.description_from_user %>
</p>

<p>
  <b>Description from source:</b>
  <%= @resource.description_from_source %>
</p>

<p>
  <b>Keywords from user:</b>
  <%= @resource.keywords_from_user %>
</p>

<p>
  <b>Keywords from source:</b>
  <%= @resource.keywords_from_source %>
</p>

<p>
  <b>User:</b>
  <%= @resource.user_id %>
</p>

<%= link_to 'Review This', new_review_path(:resource_id => @resource.id) %> |
<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
