<div class='row'><h2><%= link_to @resource.title_to_show, @resource.raw_url, :target => '_blank' %></h2></div>
<div class='row'><%= @resource.description_to_show %></div>
<%- if @resource.provider? %>
  <div class='row'>Provider: <%= @resource.provider %></div>
<% end %>
<div class='row'>Keywords: <%= @resource.keywords_to_show %></div>

<div class='row'>
  <%= link_to 'Review', new_review_path(:resource_id => @resource.id) %> |
  <%= link_to 'Edit', edit_resource_path(@resource) %> |
  <%= link_to 'Back', resources_path %>
</div>