<div class='row'><h2><%= link_to @resource.title_to_show, @resource.raw_url, :target => '_blank' %></h2></div>
<div class='row lead'><%= @resource.description_to_show %></div>
<%- if @resource.provider? %>
  <div class='row'>Provider: <%= @resource.provider %></div>
<% end %>
<div class='row margin-bottom20'>Keywords: <%= @resource.keywords_to_show %></div>
<% if current_user %>
  <%= render 'reviews/form' %>
<% else %>
  <div class='row-fluid'>
    <div class='span1'></div>
    <div class='span3 offset8'><p><%= link_to "Log in", login_path %> to to leave a review.</p></div>
  </div>
<% end %>

<% @reviews.each do |review| %>
  <% if review.id? %>
    <div class='row-fluid'>
      <div class='span1'></div>
      <div class='span11'>
        <div class='row-fluid background-gray2 border margin4 height100 radius4'>
          <div class='span3 font14'>
            <%= truncate(review.title, :length => 90) %>
          </div>
          <div class='span5 text-align-left font12'><%= truncate(review.body, :length => 180) %>
          </div>
          <div class='span4 font12'><%= review.score %></div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
