<%= form_for @review, :html => { :class => 'form-inline' } do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :resource_id %>

  <div class='row-fluid'>
    <div class='span11'>
      <div class='row-fluid background-gray2 border margin4 height100 radius4'>
        <%= f.text_area :title, :id => 'review_title_field', :rows => 1, :placeholder => 'My Review Title' %>
        <%= f.text_area :body, :id => 'review_body_field', :class => 'span6', :rows => 4, :placeholder => 'This was the best/worst...' %>
        <%= f.select(:score, options_for_select([1,2,3,4,5]), { :include_blank => TRUE }, { :class => 'span1' }) %>
        <%= f.submit 'Submit' %>
      </div>
    </div>
  </div>

<% end %>
